@use "../global/" as global;

.u-color__white {
}

.u-color__tea {
  background-color: #f2d4ab;
}

.u-color__sage {
  background-color: #8cb585;
}

.u-color__heather-gray {
  background-color: #d2d2d3;
}

.u-color__gray {
  background-color: #68686e;
}

.u-color__blue {
  background-color: #336e9f;
}

.u-color__navy {
  background-color: #030c4b;
}

.u-color__orange {
  background-color: #e38859;
}

.u-color__khaki {
  background-color: #b4a362;
}

.u-color__black {
  background-color: #414141;
}
