@use "../global/" as global;

.p-style {
  padding-top: 116px;
  overflow: hidden;
}

.p-style__inner {
  padding-inline: 26px;
}

.p-style__container {
  position: relative;
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.p-style__bg-line {
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 1;
  img {
    width: 1647px;
    height: 8298px;
  }
}

.p-style__pagetop {
  padding-top: 149px;
  padding-bottom: 180px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.p-style__pagetop-button {
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}
