*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

q {
	quotes: '"' '"';
}

body {
	color: #000;
	font-family: "Inter", serif;
}

.fade-in-up {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1.2s, transform 1.2s;
}

.fade-in-up.is-in-view {
	opacity: 1;
	transform: translateY(0);
}

.l-header {
	position: fixed;
	right: 0;
	top: 0;
	transform: translateY(calc(-100% + 39px));
	transition: transform 0.5s ease;
	z-index: 1000;
}

.l-header.is-active {
	transform: translateY(0);
}

.l-header__container {
	align-items: end;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 0;
}

.l-header__nav {
	background: var(--cover-white, #eaeaea);
	padding-bottom: 26px;
	padding-left: 24px;
	padding-right: 20px;
	padding-top: 24px;
}

.l-header__list {
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.l-header__item {
	transition: opacity 0.5s ease;
}

.l-header__item img {
	transition: opacity 0.5s ease;
}

.l-header__item:hover img {
	opacity: 0.7;
}

.l-header__item:hover:nth-of-type(1) .c-menu__text {
	opacity: 0.3;
}

.l-header__item:hover:nth-of-type(2) .c-menu__text {
	color: #f2d4ab;
}

.l-header__item:hover:nth-of-type(3) .c-menu__text {
	color: #8cb585;
}

.l-header__item:hover:nth-of-type(4) .c-menu__text {
	color: #d2d2d3;
}

.l-header__item:hover:nth-of-type(5) .c-menu__text {
	color: #68686e;
}

.l-header__item:hover:nth-of-type(6) .c-menu__text {
	color: #336e9f;
}

.l-header__item:hover:nth-of-type(7) .c-menu__text {
	color: #030c4b;
}

.l-header__item:hover:nth-of-type(8) .c-menu__text {
	color: #e38859;
}

.l-header__item:hover:nth-of-type(9) .c-menu__text {
	color: #b4a362;
}

.l-header__item:hover:nth-of-type(10) .c-menu__text {
	opacity: 0.8;
}

.l-header__menu-button {
	background: #eaeaea;
	padding: 5px 36px 5px 35px;
}

.l-header__button-text {
	color: #68686e;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.2px;
	line-height: 29px;
	padding-left: 1px;
}

.l-header__bg-mask {
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: opacity 0.5s ease;
	width: 100%;
	z-index: 300;
}

.l-header__bg-mask.is-active {
	opacity: 1;
}

.l-footer {
	padding-bottom: 23px;
	padding-top: 15px;
}

.l-footer__inner {
	padding-inline: 50px;
}

.l-footer__container {
	display: flex;
	justify-content: space-between;
}

.l-footer__left {
	align-items: center;
	display: flex;
	gap: 130px;
}

.l-footer-copyright {
	color: #888;
	font-family: "Lato", serif;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 2.2px;
}

.l-footer__sns {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 14px;
}

.l-footer__sns-link {
	align-items: center;
	display: flex;
	transition: opacity 0.5s ease;
}

.l-footer__sns-link:hover {
	opacity: 0.7;
}

.l-footer__right {
	align-items: center;
	display: flex;
	gap: 19px;
}

.l-footer__list-link {
	font-family: Barlow;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.25px;
	transition: opacity 0.5s ease;
}

.l-footer__list-link:hover {
	opacity: 0.7;
}

.c-menu {
	color: #151515;
	font-family: "Lato", serif;
}

.c-menu__number {
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 2.16;
	padding-top: 7px;
}

.c-menu__text {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.2px;
	line-height: 1;
	transition: color 0.5s ease, opacity 0.5s ease;
}

.c-product {
	color: #151515;
}

.c-product img {
	transition: opacity 0.5s ease;
}

.c-product:hover .c-product__view::after {
	animation: underline 1s ease both;
}

.c-product:hover img {
	opacity: 0.7;
}

.c-product__name {
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 24.6px;
	padding-top: 20px;
}

.c-product__container {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.c-product__price {
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 21.6px;
}

.c-product__view {
	font-family: "Lato", serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 21.6px;
	transform: translate(2px, -2px);
}

.c-product__view::after {
	background-color: #151515;
	bottom: 2px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 23px;
}

.c-title {
	text-align: center;
}

.c-title__text {
	font-family: "Lato", serif;
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 10.08px;
	line-height: 28px;
	padding-left: 12px;
}

.c-style {
	position: relative;
	z-index: 50;
}

.c-style:hover .c-style__content-view::after {
	animation: underline 1s ease both;
}

.c-style:hover:nth-of-type(1) .c-style__content-title {
	opacity: 0.3;
}

.c-style:hover:nth-of-type(2) .c-style__content-title {
	color: #f2d4ab;
}

.c-style:hover:nth-of-type(3) .c-style__content-title {
	color: #8cb585;
}

.c-style:hover:nth-of-type(4) .c-style__content-title {
	color: #d2d2d3;
}

.c-style:hover:nth-of-type(5) .c-style__content-title {
	color: #68686e;
}

.c-style:hover:nth-of-type(6) .c-style__content-title {
	color: #336e9f;
}

.c-style:hover:nth-of-type(7) .c-style__content-title {
	color: #030c4b;
}

.c-style:hover:nth-of-type(8) .c-style__content-title {
	color: #e38859;
}

.c-style:hover:nth-of-type(9) .c-style__content-title {
	color: #b4a362;
}

.c-style:hover:nth-of-type(10) .c-style__content-title {
	opacity: 0.8;
}

.c-style__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.c-style__colors {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.c-style__color-circle {
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.c-style__color-circle--white {
	border: 1px solid #d8d8d8;
}

.c-style__color-active {
	position: relative;
	z-index: 10;
}

.c-style__color-active::before {
	background-color: inherit;
	border-radius: 50%;
	content: "";
	height: 12px;
	left: 50%;
	opacity: 0.35;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 12px;
	z-index: 5;
}

.c-style__image img {
	max-height: 736px;
}

.c-style__content {
	padding-left: 68px;
}

.c-style__number {
	font-family: "Lato", serif;
	font-size: 11px;
	font-weight: 900;
	letter-spacing: 1.87px;
	text-transform: lowercase;
}

.c-style__content-title {
	font-family: "Lato", serif;
	font-size: 22px;
	font-weight: 900;
	letter-spacing: 8.5px;
	padding-top: 26px;
	transition: color 0.5s ease, opacity 0.5s ease;
}

.c-style__content-name {
	color: #151515;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1.3px;
	line-height: 21.6px;
	padding-top: 80px;
}

.c-style__content-wrapper {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.c-style__content-price {
	color: #151515;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 21.6px;
	transform: translate(1px, 2px);
}

.c-style__content-view {
	color: #151515;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1.1px;
	line-height: 21.6px;
	position: relative;
}

.c-style__content-view::after {
	background-color: #151515;
	bottom: 3px;
	content: "";
	height: 1px;
	left: 1px;
	position: absolute;
	width: 26px;
}

.p-mv {
	position: relative;
}

.p-mv__title {
	display: flex;
	flex-direction: column;
	left: 99px;
	position: absolute;
	top: 130px;
}

.p-mv__title-text {
	display: none;
}

.p-mv__title-main {
	padding-top: 19px;
}

.p-mv__title-main img {
	flex-shrink: 0;
	height: 32.949px;
	width: 410.036px;
}

.p-concept {
	padding-bottom: 110px;
	padding-top: 113px;
}

.p-concept__inner {
	padding-inline: 20px;
	text-align: center;
}

.p-concept__catch {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 3px;
	line-height: 28px;
}

.p-concept__lead {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1.3px;
	line-height: 28px;
	padding-top: 42px;
}

.p-product__inner {
	padding-inline: 20px;
}

.p-product__container {
	display: flex;
	flex-direction: row;
	gap: 32px;
	margin: 0 auto;
	max-width: 964px;
	padding-top: 56px;
}

.p-style {
	overflow: hidden;
	padding-top: 116px;
}

.p-style__inner {
	padding-inline: 26px;
}

.p-style__container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	padding-top: 66px;
	position: relative;
}

.p-style__bg-line {
	position: absolute;
	right: -18px;
	top: 0;
	z-index: 1;
}

.p-style__bg-line img {
	height: 8298px;
	width: 1647px;
}

.p-style__pagetop {
	padding-bottom: 180px;
	padding-top: 149px;
	position: relative;
	text-align: center;
	z-index: 10;
}

.p-style__pagetop-button {
	transition: opacity 0.3s ease;
}

.p-style__pagetop-button:hover {
	opacity: 0.7;
}

.u-color__tea {
	background-color: #f2d4ab;
}

.u-color__sage {
	background-color: #8cb585;
}

.u-color__heather-gray {
	background-color: #d2d2d3;
}

.u-color__gray {
	background-color: #68686e;
}

.u-color__blue {
	background-color: #336e9f;
}

.u-color__navy {
	background-color: #030c4b;
}

.u-color__orange {
	background-color: #e38859;
}

.u-color__khaki {
	background-color: #b4a362;
}

.u-color__black {
	background-color: #414141;
}

@keyframes underline {

0% {
	transform: scaleX(1);
}

50% {
	transform: scaleX(0);
}

100% {
	transform: scaleX(1);
}

}

