@use "../global/" as global;

.l-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(calc(-100% + 39px));
  transition: transform 0.5s ease;
  &.is-active {
    transform: translateY(0);
  }
}

.l-header__container {
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 0;
  right: 0;
}

.l-header__nav {
  background: var(--cover-white, #eaeaea);
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 20px;
  padding-bottom: 26px;
}

.l-header__list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.l-header__item {
  transition: opacity 0.5s ease;
  img {
    transition: opacity 0.5s ease;
  }
  .c-menu__number {
    transition: opacity 0.5s ease;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
    .c-menu__number {
      opacity: 0.7;
    }
    &:nth-of-type(1) {
      .c-menu__text {
        opacity: 0.3;
      }
    }
    &:nth-of-type(2) {
      .c-menu__text {
        color: #f2d4ab;
      }
    }
    &:nth-of-type(3) {
      .c-menu__text {
        color: #8cb585;
      }
    }
    &:nth-of-type(4) {
      .c-menu__text {
        color: #d2d2d3;
      }
    }
    &:nth-of-type(5) {
      .c-menu__text {
        color: #68686e;
      }
    }
    &:nth-of-type(6) {
      .c-menu__text {
        color: #336e9f;
      }
    }
    &:nth-of-type(7) {
      .c-menu__text {
        color: #030c4b;
      }
    }
    &:nth-of-type(8) {
      .c-menu__text {
        color: #e38859;
      }
    }
    &:nth-of-type(9) {
      .c-menu__text {
        color: #b4a362;
      }
    }
    &:nth-of-type(10) {
      .c-menu__text {
        opacity: 0.8;
      }
    }
  }
}

.l-header__link {
}

.l-header__menu {
}

.l-header__menu-button {
  padding: 5px 36px 5px 35px;
  background: #eaeaea;
}

.l-header__button-arrow {
}

.l-header__button-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 1.2px;
  padding-left: 1px;
  color: #68686e;
}

.l-header__bg-mask {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: rgb(0, 0, 0, 0.3);

  &.is-active {
    opacity: 1;
  }
}
