@use "../global/" as global;

.l-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  &.is-active {
    background-color: #000, 0.3;
  }
}

.l-header__inner {
}

.l-header__nav {
  transform: translateY(-100%);
  background: var(--cover-white, #eaeaea);
  padding-top: 24px;
  padding-inline: 24px;
  padding-bottom: 20px;
  transition: transform 0.4s ease;
  &.is-active {
    transform: translateY(0);
  }
}

.l-header__list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.l-header__item {
}

.l-header__link {
}

.l-header__menu {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.4s ease;
  &.is-active {
    transform: translateY(218px);
  }
}

.l-header__menu-button {
  padding: 5px 36px 5px 35px;
  background: #eaeaea;
}

.l-header__button-arrow {
}

.l-header__button-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 1.2px;
  color: #68686e;
}
