@use "../global/" as global;

.c-product {
  img{
    transition: opacity 0.5s ease;
  }
  color: global.$color-l;
  &:hover {
    .c-product__view {
      &::after {
        animation: underline 1s ease both;
      }
    }
    img{
      opacity: 0.7;
    }
  }
}

.c-product__name {
  padding-top: 20px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24.6px;
  letter-spacing: 1.1px;
}

.c-product__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.c-product__price {
  font-size: 11px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 1.1px;
}

.c-product__view {
  font-family: global.$ff-deco;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 1.1px;
  transform: translate(2px, -2px);

  &::after {
    position: absolute;
    content: "";
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 23px;
    background-color: #151515;
  }
}
