@use "../global/" as global;

.c-style {
  position: relative;
  z-index: 50;
  &:hover {
    .c-style__content-view {
      &::after {
        animation: underline 1s ease both;
      }
    }
    &:nth-of-type(1) {
      .c-style__content-title {
        opacity: 0.3;
      }
    }
    &:nth-of-type(2) {
      .c-style__content-title {
        color: #f2d4ab;
      }
    }
    &:nth-of-type(3) {
      .c-style__content-title {
        color: #8cb585;
      }
    }
    &:nth-of-type(4) {
      .c-style__content-title {
        color: #d2d2d3;
      }
    }
    &:nth-of-type(5) {
      .c-style__content-title {
        color: #68686e;
      }
    }
    &:nth-of-type(6) {
      .c-style__content-title {
        color: #336e9f;
      }
    }
    &:nth-of-type(7) {
      .c-style__content-title {
        color: #030c4b;
      }
    }
    &:nth-of-type(8) {
      .c-style__content-title {
        color: #e38859;
      }
    }
    &:nth-of-type(9) {
      .c-style__content-title {
        color: #b4a362;
      }
    }
    &:nth-of-type(10) {
      .c-style__content-title {
        opacity: 0.8;
      }
    }
  }
}


.c-style__container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.c-style__colors {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.c-style__color-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.c-style__color-circle--white {
  border: 1px solid #d8d8d8;
}

.c-style__color-active {
  position: relative;
  z-index: 10;
  &::before {
    z-index: 5;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: inherit;
    opacity: 0.35;
    border-radius: 50%;
  }
}

.c-style__image {
  img {
    max-height: 736px;
  }
}

.c-style__content {
  padding-left: calc(92px - 24px);
}

.c-style__number {
  font-family: global.$ff-deco;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 1.87px;
  text-transform: lowercase;
}

.c-style__content-title {
  padding-top: 26px;
  font-family: global.$ff-deco;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 8.5px;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.c-style__content-name {
  padding-top: 80px;
  color: global.$color-l;
  font-size: 11px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 1.3px;
}

.c-style__content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.c-style__content-price {
  color: global.$color-l;
  font-size: 11px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 1.1px;
  transform: translate(1px, 2px);
}

.c-style__content-view {
  color: global.$color-l;
  font-size: 11px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 1.1px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 1px;
    width: 26px;
    background-color: #151515;
    bottom: 3px;
  }
}
